#include "version.h"
#include "winuser.h"

1 VERSIONINFO 
FILEVERSION    VERSION_MAJOR, VERSION_MINOR, VERSION_BUGFIX, 0
PRODUCTVERSION VERSION_MAJOR, VERSION_MINOR, VERSION_BUGFIX, 0
FILEFLAGSMASK 0x3FL
FILEFLAGS     0x0L
FILEOS        0x2L
FILETYPE      0x0L
FILESUBTYPE   0x0L
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "00020000"
  BEGIN
   VALUE "FileDescription",  "afxtask"
   VALUE "FileVersion",      VERSION_STRING
   VALUE "InternalName",     "afxtask"
   VALUE "LegalCopyright",   COPYRIGHT_STRING
   VALUE "OriginalFilename", "afxtask.exe"
   VALUE "ProductName",      "afxplugins"
   VALUE "ProductVersion",   VERSION_STRING
  END
 END
END
